<div class="container content">
  <div class="row">
    <div class="col">
      <h1>
        {{title}}
      </h1>
    </div>
  </div>
  <app-lista-destinos></app-lista-destinos>
</div>

<router-outlet></router-outlet>